altgraph==0.17.3
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
distlib==0.3.7
Django==4.2.5
filelock==3.12.3
idna==3.4
pefile==2023.2.7
Pillow==10.0.0
platformdirs==3.10.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pypng==0.20220715.0
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
qrcode==7.4.2
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.4
